@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(88, 88, 88);
}

/* NAV BAR  */
#nav-bar {
  background-color: rgb(49, 49, 49);
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px rgb(0, 0, 0) solid;
}

#nav-title {
  margin-left: 2rem;
  font-size: 5rem;
  color: rgb(233, 233, 233);
}
/* GAME AREA */
#gameArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
/* MENU AREA */
#menuContainer {
  /* height: 60rem;
  width: 40rem; */
  padding: 2rem;
  background-color: rgb(49, 49, 49);
  margin-top: 5rem;
  margin-left: 10rem;
  border: 4px rgb(0, 0, 0) solid;
  display: flex;
  justify-content: center;
}
.input-box {
  /* margin-top: 2rem; */
  padding: 1.5rem 0;
  display: flex;
  gap: 3rem;
}
.playerDetails {
  color: #9ab8e4;
  font-size: 2rem;
}

.playerOptionInput {
  border: 2px solid rgb(26, 25, 25);
  color: rgb(233, 233, 233);
  font-family: "Montserrat", sans-serif;
  background-color: rgb(49, 49, 49);
  padding: 3px;
  min-width: 10rem;
}
.playerOptionInput:focus {
  outline: none;
  border: 2px solid #9ab8e4;
}

#submit-btn-container {
  display: flex;
  justify-content: center;
}
#submit-btn:hover {
  background-color: rgb(56, 56, 56);
}

/* board area */
#board-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 60rem;
  height: 60rem;
  border: 2px rgb(48, 44, 40) solid;
}

.board-piece {
  background-color: #9ab8e4;
  width: 20rem;
  height: 20rem;
  text-align: center;
  border: 2px rgb(48, 44, 40) solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14rem;
}
