@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(88, 88, 88);
}

#nav-bar {
  background-color: rgb(49, 49, 49);
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
}

#nav-title {
  margin-left: 2rem;
  font-size: 5rem;
  color: rgb(233, 233, 233);
}

#board-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10rem;
  width: 60rem;
  height: 60rem;
  border: 1px rgb(48, 44, 40) solid;
}

.board-piece {
  background-color: #9ab8e4;
  width: 20rem;
  height: 20rem;
  text-align: center;
  border: 2px rgb(48, 44, 40) solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeX {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 10rem;
}
